html{
    margin: 10px;
    box-sizing: border-box;
}
.cycle h1{
    text-align: center;
    
}
.cycle p{
    display: flex;
    font-weight: bold;
    margin: 10px;
}
body{
    background-color: #019A01;
    color:  white;
    
}
#brw{
    font-family: Helvetica;
    background-color: indianred;
    border: 1px solid black;
    border-radius: 50%;
    font-weight: bold;
    float: right;
    height: 75px;
    width: 75px;
}
sup{
    color: green;
    font-size: large;
}
#brw:hover{
    color: white;
}
.deliv{
    display: flex;
    margin: 20px;
    text-align: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
}
.deliv h2{
    height: 25%;
   
}
.deliv h4{
    margin: 50px;
    font-weight: bolder;
}
.im{
   margin-left: 25%;
}
.details{
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 200px;
    color: black;
    

}
.details h2{
    height: 25%; 
    text-align: center;
}
#log{
 text-align: right;
}
