*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-fluid{
    background-color: burlywood;
    height: 1200px;
}
.side{
    background-color: green;
    height: 700px;
    margin-top: 50px;
    border-radius: 5px;
}
.other{
    background-color: aqua;
    margin-top: 50px;
    height: 800px;
}
h2{
    text-align: center;
    margin-top: 20px;
}
input{
    margin-top: 30px;
}
.btn{
    position: relative;
    top: 350px;
}

.ones{
    display: flex;
    padding: 10px;
}
.ones h4{
    flex-direction: column;
    padding: 20px;
    padding-right: 100px;
    justify-content: space-between;
}
.fa-solid{
       background-color: white;
       height: 50px;
       width: 50px;
}

.one{
    border: 2px black solid;
    height: 70px;
    margin-top: 20px;
    display: flex;
}
.one h4{
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    padding-right: 100px;
}
.two{
    border: 2px black solid;
    height: 70px;
    margin-top: 20px;
    display: flex;
}
.two h4{
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
}
