html{
    margin: 10px;
    box-sizing: border-box;
}
.del{
    border-radius: 50%;
    font-weight: bold;
    height: 90px;
    width: 90px;
    background-color: blue;
}
.cycle h1{
    text-align: center;
    
}
.cycle p{
    display: flex;
    font-weight: bold;
    margin: 10px;
}
body{
    background-color: #019A01;
    color:  white;
    background-size: cover;
}

.info{
    position: relative;
}
#brw{
    font-family: Helvetica;
    background-color: indianred;
    border: 1px solid black;
    border-radius: 50%;
    font-weight: bold;
    float: right;
    height: 75px;
    width: 75px;
}
sup{
    color: green;
    font-size: large;
}
#brw:hover{
    color: white;
}
.dl{
    text-align: center;
    color: black;
    font-weight: bolder;
    border-bottom: 3px solid black;

}

.deliv{
    display: flex;
    margin: 20px;
    text-align: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
}
.d{
    color: black;
    font-weight: bold;
    margin: 50px;
    
}
.deliv h4{
    margin: 50px;
    font-weight: bolder;
    color: white;
    border: solid #9C0D0D;
    
}
.im{
   margin-left: 25%;
}
.details{
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 200px;
    color: white;
    position: relative;

    

}
.dt{
    color: black;
    font-weight: bold;
    margin: 20px;
}

#log{
 text-align: right;
}
.lg{
    background-color: blue;
    border-radius: 45px;
}


