*{
    margin: 0;
    padding: 0;
}
.section1{
    background-color: #019A01;
}

.navbar{
    float: right;
    align-items: center;
    margin-right: 100px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar a{
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
}

.img{
    float: right;
    margin-left: 50px;
}

.green{
    color: white;
    margin-left: 53px;
    padding-top: 200px;
    font-size: 20px;
}

.section1 p{
    margin-top: 50px;
    margin-left: 53px;
}
.arrow{
    margin-left: 100px;
    list-style: none;
    margin-top: 80px;
    padding-bottom: 50px;
}
.arrow i{
    margin-left: 100px;
}
.about{
    text-align: center;
    float: right;
    margin-right: 200px;
    margin-top: 100px;
}
.about h3{
    margin-bottom: 20px;
}
.testimonials h2{
    text-align: center;
    margin-top: 300px;
}
#footer{
    background-color: #9C0D0D;
    text-align: center;
    position: relative;
    width: auto;
    justify-content: space-between;
    display: flex;
   margin-top: 400px;
}
.contacts{
    padding: 20px;
    color: white;
}
.contacts a{
    text-decoration: none;
    color: white;
}
.contacts li{
    padding: 5px;
}
.contacts ul{
    list-style: none;
    gap: 10px;
    padding: 10px;
}
.designers{
    text-align: center;
}
.designers a{
    text-decoration: none;
    color: black;
}
.lastpart p{
    margin-top: 20px;
    margin-left: 30px;
}
.designers ul{
    list-style: none;
}
