body {
    width: 100%;
    align-items: center;
    margin-left: auto;

    /* background-color: #019A01; */
}

.page {
    background-color: #019a0183;
    width: 40%;
    margin-top: 100px;
    margin-left: 500px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.text {

    padding: 10px;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    
}

.login {
    font-size: x-large;
    text-align: center;
    padding: 5px;
}

.account {
    text-align: center;
    word-spacing: 50px;
    /* background-color:  white; */
    padding: 50px;
    background-color: rgb(rgb(75, 155, 75));
}

.btns {
    padding: 50px;
    text-align: center;

}

.buttons {
    background-color: #019A01;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

#have {
    text-align: center;
}

.loginbutton {
    color: white;
    margin-top: 10PX;
    font-size: large;
    border-radius: 10px;
    padding: 5px;
    background-color: #3636C8;
}

#log{
    color: #3636C8;
}

.custven {
    justify-content: space-between;
    word-spacing: 150px;
    padding-bottom: 60px;
}

.forms {
    text-align: center;
    font-size: x-large;
    padding: 50px;

}

#p1 {
    font-size: larger;
}

.vendor{ background-color: #019a0183;
    width: 40%;
    margin-top: 100px;
    margin-left: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}


.customer{ background-color: #019a0183;
    width: 40%;
    margin-top: 100px;
    margin-left: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}


.delivery{ background-color: #019a0183;
    width: 40%;
    margin-top: 100px;
    margin-left: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}