html{
    margin: 10px;
    box-sizing: border-box;
}
.del{
    border-radius: 50%;
    font-weight: bold;
    height: 90px;
    width: 90px;
    background-color: white;
}
.cycle h1{
    text-align: center;
    
}
.cycle p{
    display: flex;
    font-weight: bold;
    margin: 10px;
}
body{
    background-color:rgba(1, 154, 1, 0.302);
    color:  black;
    background-size: cover;
}

.info{
    position: relative;
}
#brw{
    font-family: Helvetica;
    background-color: indianred;
    border: 1px solid black;
    border-radius: 50%;
    font-weight: bold;
    float: right;
    height: 75px;
    width: 75px;
}
sup{
    color: green;
    font-size: large;
}
#brw:hover{
    color: white;
}
.deliv{
    text-align: center;
    color: black;
}
.deliv p{
    text-align: left;
    color: black;
}
.t1{
    display: flex;
    justify-content: space-evenly;
   color: black;
}
.t2{
    border: 2px solid #9C0D0D;
    display: flex;
    justify-content: space-evenly;
    color: black;
    margin-left: 20px;
}
.t3{
    border: 2px solid #9C0D0D;
    display: flex;
    justify-content: space-evenly; 
    color: black;
    margin-top: 10px;
    margin-left: 20px;
}
.d{
    border: 2px solid #9C0D0D;
    display: flex;
    justify-content: space-evenly; 
    color: black;
     margin-left: 20px;
}
.d1{
    margin-top: 10px;
    border: 2px solid #9C0D0D;
    display: flex;
    justify-content: space-evenly; 
    color: black;
    margin-left: 20px;
    
}
#log{
 text-align: right;
}
.lg{
    background-color: white;
    border-radius: pxvh;
}
.lg2{
    background-color: #3636C8;
    border-radius: 45px;
    color: #fff;
    font-weight: 700;
    border: none;


}
@media only screen and (max-width: 600px) {
    html{
        background-color: rgba(1, 154, 1, 0.302); 
        font-size: medium;
 }
    body{
        font-size: smaller;
        color: white;
    }
    .cycle{
        color: blue;
        font-size: large;
    }
    .deliv{
        flex-direction: column;
    }
    .t1{ display: flex;
        flex-direction: column;
        font-size: medium;
    }
    .t2{
        display: flex;
        flex-direction: column;
        font-size: small;
       
        word-spacing: 10px;
    }
    .t3{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: small;
    }
    .d{
        justify-content: space-evenly;
    }
    .d1{
        justify-content: space-evenly;
    }
    
   .d{
       flex-direction: column;

   }
   .d1{
       flex-direction: column;
   }

    }



